@import "common.scss"; 
header{
	width: 100%; 
	height: 125px;
	nav{
		width: 998px;
		height: 125px;
		margin: 0 auto;
		display:flex;
		.logo{
			margin-top: 35px;
			a{
				display: block;
				width: 150px;
				height: 60px;
				background: url(../../img/logo.png) no-repeat;
				background-size: 100% 100%;
			}
		}
		.dh{
			width: 848px;
			height: 125px;
			
			.sign{
				height: 50px;
				display: flex;
				float: right;
				justify-content: space-between;
				li{
					padding-right: 10px;
					a{
						text-align: center;
						line-height: 50px;
						color: #7dd8f6;
						font-size: 14px;
					}
				}
				
			}
			
			.dh-a {
				width: 110px;
				height: 50px;
				display: flex;
				float: right;
				justify-content:space-around;
				margin-right:20px;
				li{
					display:flex;
					align-items: center;
					color: #7dd8f6;
				}
				li:nth-child(1)	i{
						font-size: 14px !important;
					}
				li:nth-child(1)	span{
						padding: 0 10px;
						font-size: 12px;
					}
				li:nth-child(2) i{
					font-size: 15px !important;
					padding-right: 10px;
				}
				li:nth-child(2) p{
					font-size: 12px;
				}
			}
			
			
			.show{
				display: none;
			}
			ul:nth-child(3) li:nth-child(2){cursor: pointer;}
			ul:nth-child(4){
				width: 848px;
				height: 50px;
				display: flex;
				justify-content: space-between;
				margin-top: 50px;
				li{
					padding: 0 39px;
					font-size: 13px;
					text-align: center;
					line-height: 25px;
					border-right: 1px solid #7dd8f6;					
					p{
						color: #7dd8f6;
					}
					a{
						color: #7dd8f6;
					}
				}
				li:nth-child(2){
					display: block;
					.cake{
						cursor: pointer;
						color: #7dd8f6;
					}
					.cakeshow{
						display: none;
						background: #ffffff;
						position: absolute;
						left: 462px;
						z-index: 11111;
						li{
							border: none;
							margin-top: 6px;
						}
					}
				}
				
				li:nth-child(4){
					border-right: none;
				}
				li:nth-child(5){
					border-right: none;
					position: relative;
					p{
						display: flex;
						justify-content: center;
						
						span{
							width: 18px;
							height: 18px;
							background: url(../../img/phone_icon.png) no-repeat;
							background-size: 100% 100%;
							float: left;
						}
						
					}
					
					i{
						font-size: 18px !important;
						color: #7dd8f6;
						display: flex;
						justify-content: center;
						border: 1px solid #7dd8f6;
					}
					input{
						width: 90px;
						height: 25px;
						border: none;
						outline-style:none ;
					}
					
				}
			}
		}
		.textfind{
			width: 110px;
			min-height: 25px;
			position: absolute;
			right: 172px;
			font-size: 12px;
			z-index: 11111;
			ul{
				li{
					padding-top: 10px;
					padding-left: 20px;
					color: red;
				}
			}
		}
	}
}