@import "publc/common.scss"; 
@import "publc/header";
@import "publc/footer";

.header{
	margin-bottom: 10px;
}
main{
	width: 998px;
	height: 1440px;
	margin: 0 auto;
	.swiper-container{
		width: 998px;
		height: 450px;
	}
	.series{
		width: 998px;
		height: 270px;
		display: flex;
		margin-top: 10px;
		justify-content: space-between;
		dl{
			width: 325px;
			height: 270px;
			
			dt{
				width: 325px;
				height: 220px;
				cursor: pointer;
			}
			dd{
				a{
					width: 325px;
					height: 50px;
					background: #87d0e3;
					color: #ffffff;
					font-size: 12px;
					line-height: 15px;
					display: flex;
					flex-direction: column;
					justify-content: center;
					
					p{
						padding-left: 10px;
					}
				}
			}
		}
		dl:nth-child(1) dt{
			background: url(../img/dangao1.jpg) no-repeat center center;
			background-size: 100% 100%;
		}
		dl:nth-child(2) dt{
			background: url(../img/dangao2.jpg) no-repeat center center;
			background-size: 100% 100%;
		}
		dl:nth-child(3) dt{
			background: url(../img/dangao3.jpg) no-repeat center center;
			background-size: 100% 100%;
		}
	}
	.video{
		width: 998px;
		height: 420px;
		margin-top: 10px;
		display: flex;
		img{
			width: 240px;
			height: 420px;
		}
		a{
			width: 748px;
			height: 420px;
			display: block;
			background: url(../img/video.png) no-repeat center center;
			background-size: 100% 100%;
			margin-left: 10px;
		}
	}
	
	.serve{
		width: 998px;
		height: 270px;
		display: flex;
		margin-top: 10px;
		justify-content: space-between;
		dl{
			width: 325px;
			height: 270px;
			
			dt{
				width: 325px;
				height: 220px;
				cursor: pointer;
			}
			dd{
				a{
					width: 325px;
					height: 50px;
					background: #87d0e3;
					color: #ffffff;
					font-size: 12px;
					line-height: 15px;
					display: flex;
					flex-direction: column;
					justify-content: center;
					
					p{
						padding-left: 10px;
					}
				}
			}
		}
		dl:nth-child(1) dt{
			background: url(../img/back.jpg) no-repeat center center;
			background-size: 100% 100%;
		}
		dl:nth-child(2) dt{
			background: url(../img/mark.jpg) no-repeat center center;
			background-size: 100% 100%;
		}
		dl:nth-child(3) dt{
			background: url(../img/fuwu.jpg) no-repeat center center;
			background-size: 100% 100%;
		}
	}
	
}
.foot{
	margin-top: 10px;
}